.Cards{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
width: 100%;
max-width: 1200px;
align-items: flex-start;
gap: 10px;

}

.box{
        display: flex;
        background-color: rgb(180, 52, 52);
        border-radius: 20px;
        align-items: center;
}